<header>
  <div class="example-button-row">
    <button (click)="openDialog()"
            color="accent"
            mat-raised-button>
      Добавить
    </button>
  </div>
</header>
<table [dataSource]="dataSource"
       class="mat-elevation-z8"
       mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef
        mat-header-cell>
      ФИО
    </th>
    <td *matCellDef="let element"
        mat-cell>
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="numberOfComputer">
    <th *matHeaderCellDef
        mat-header-cell>
      Номер компьютера
    </th>
    <td *matCellDef="let element"
        mat-cell>
      {{ element.numberOfComputer }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th *matHeaderCellDef
        mat-header-cell>
      Дата бронирования
    </th>
    <td *matCellDef="let element"
        mat-cell>
      {{ element.date | dateTransform }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th *matHeaderCellDef
        mat-header-cell>
      Номер телефона
    </th>
    <td *matCellDef="let element"
        mat-cell>
      {{ element.phone | phoneTransform }}
    </td>
  </ng-container>

  <ng-container matColumnDef="game">
    <th *matHeaderCellDef
        mat-header-cell>
      Игра
    </th>
    <td *matCellDef="let element"
        mat-cell>
      {{ element.game }}
    </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th *matHeaderCellDef
        mat-header-cell>
      Удалить запись
    </th>
    <td *matCellDef="let element"
        mat-cell>
      <div (click)="removeRow(element.id)"
           class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button color="primary"
                    mat-fab>
              <img src="./assets/images/trash.svg" alt = "button of delete"  class = 'del-buttom'>
            </button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns"
      mat-header-row>
  </tr>
  <tr *matRowDef="let row; columns: displayedColumns"
      mat-row>
  </tr>
</table>
